body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

#map {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    z-index: 1;
}

.app-container {

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 1000;

    pointer-events: none;
}

.hero {
    pointer-events: auto;
}

/* Bottom Footer */

/* Footer */

.menu-container {

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 25px 10px 10px;

    border-radius: 25px 25px 0 0;

    box-shadow:
        0 -5px 20px rgba(0, 0, 0, .2);

    z-index: 1001;
}


/* Icon cards */

.menu-box {

    width: 65px;
    height: 65px;

    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

    box-shadow:
        0 4px 8px rgba(0, 0, 0, .15);

    /* Moves icon upward */
    transform: translateY(-40px);

    flex-shrink: 0;
}

.menu-box i {

    font-size: 28px;
    color: #19c3e6;
}